In [40]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [41]:
df =pd.read_csv('FuelEconomy.csv')
df

    Horse Power  Fuel Economy (MPG)
0    118.770799           29.344195
1    176.326567           24.695934
2    219.262465           23.952010
3    187.310009           23.384546
4    218.594340           23.426739
..          ...                 ...
95   162.810542           27.418661
96   266.869640           15.989945
97   243.831211           19.253375
98   140.959803           29.515593
99   184.123053           25.196097

[100 rows x 2 columns]

In [42]:
df.head(2)

   Horse Power  Fuel Economy (MPG)
0   118.770799           29.344195
1   176.326567           24.695934

In [43]:
df.tail()

    Horse Power  Fuel Economy (MPG)
95   162.810542           27.418661
96   266.869640           15.989945
97   243.831211           19.253375
98   140.959803           29.515593
99   184.123053           25.196097

In [44]:
df.describe ()

       Horse Power  Fuel Economy (MPG)
count   100.000000          100.000000
mean    213.676190           23.178501
std      62.061726            4.701666
min      50.000000           10.000000
25%     174.996514           20.439516
50%     218.928402           23.143192
75%     251.706476           26.089933
max     350.000000           35.000000

In [45]:
df.columns

Index(['Horse Power', 'Fuel Economy (MPG)'], dtype='object')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
X=df['Horse Power']
y=df['Fuel Economy (MPG)']

In [ ]:
from sklearn.model_selection import train_test_split

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
X_train

55    199.147638
88    203.571654
26    258.424223
42    243.737242
69    315.817498
         ...
60    230.462677
71    299.530458
14    211.729109
92    227.380124
51    290.887200
Name: Horse Power, Length: 80, dtype: float64

In [54]:
X_train.shape

(80,)

In [55]:
X_test.shape

(20,)

In [56]:
y_test.shape

(20,)

In [57]:
y_train.shape

(80,)